<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Caro Game</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <div class="center">
            <div class="title">Game Caro - Project 1</div>
            <p class="intro">Chọn chế độ chơi.</p>
            <button class="btn btn1" id="openPopup">Chơi Online</button>
            <button class="btn btn1" onclick="window.location.href='/caro-off'">Chơi Offline</button>
            <button class="btn btn1" onclick="window.location.href='/caro-comp'">Chơi với máy</button>

            <div id="popup" class="hidden">
                <div class="popup-content">
                    <span id="closePopup" class="close">&times;</span>
                    <h1>Chế độ chơi 2 người</h1>
                    <button class="btn btn-createRoom" id="createRoom">Tạo Phòng</button>
                    <button class="btn btn-createRoom" id="joinRoom" type='submit'>Vào Phòng</button>
                    
                </div>
            </div>
        </div>

        <div id="popup_CreateRoom" class="hidden">
            <div class="popup_CreateRoom-content">
                <span id="closePopup_CreateRoom" class="close">&times;</span>
                <h1>Tạo Phòng</h1>
                <p>ID phòng: <span id="roomID">...</span></p>
                <h2>Username</h2>
                <input type="Username" placeholder="Nhập Username" id="username">
                <h2>Password</h2>
                <input type="password" placeholder="Nhập mật khẩu" id="password">
                <button class="btn btn-createRoom_submit"  onclick="createRoom()" >Tạo phòng</button>
            </div>
        </div>
        <div id="popup_JoinRoom" class="hidden">
            <div class="popup_JoinRoom-content">
                <span id="closePopup_JoinRoom" class="close">&times;</span>
                <h1>Vào Phòng</h1>
                <h2>ID phòng </h2>
                <input placeholder="Nhập ID Phòng" id="room_ID">
                <h2>Username</h2>
                <input type="Username" placeholder="Nhập Username" id="joinRoom_username">
                <h2>Password</h2>
                <input type="password" placeholder="Nhập mật khẩu" id="joinRoom_password">
                <button class="btn btn-joinRoom_submit"  onclick="joinRoom()" >Vào phòng</button>
            </div>
        </div>
    </div>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
        <script src="{{ url_for('static', filename = 'js/app.js') }}"></script>
    </body>
</html>